body {
    color: white;
    background-color: rgb(128, 195, 253);
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    width: 50%;
}

h1 {
    text-align: center;
    border-bottom: white 2px solid;
    padding-bottom: 20px;
}

div {
    padding: 10px;
    padding-left: 40px;
    border: white 2px solid;
    border-radius: 10px;
}

#questions {
    font-size: 135%;
}