body {
    color: rgb(80, 80, 80);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    width: 55%;
}

h1 {
    background-color: rgba(255, 255, 255, 0.9);
    width: 55%;
    margin: 0 auto;
    text-align: center;
    border-bottom: 2px solid rgb(80, 80, 80);
    position: fixed;
    top: 0;
}

div {
    padding-left: 40px;
}

.box {
    padding: 10px;
    border-radius: 10px;
    border: 2px solid rgb(80, 80, 80);
    box-shadow: 5px 5px 5px rgb(80, 80, 80);
    margin: 2%;
}

p.box{
    text-align: center;
    clear: right;
}

.subtitle {
    font-size: 120%;
    margin-top: 50px;
}

.list-title {
    font-size: 135%;
}

#questions {
    float: left;
}

#top-ten {
    float: right;
    text-align: center;
}

#top-ten>ol{
    list-style-type: lower-roman;
}