body {
    color: rgb(80, 80, 80);
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 auto;
    width: 50%;
}

h1 {
    text-align: center;
    /* border-bottom: 2px solid rgb(80, 80, 80); */
    /* padding-bottom: 20px; */
}

p {
    width: 95%;
}

div {
    padding-left: 40px;
}

.box {
    padding: 10px;
    border-radius: 10px;
    display: inline-block;
    border: 2px solid rgb(80, 80, 80);
    box-shadow: 5px 5px 5px rgb(80, 80, 80);
    margin: 2%;
}

p.box{
    text-align: center;
}

.list-title {
    font-size: 135%;
}

#top-ten {
    float: right;
    text-align: center;
}

#top-ten>ol{
    list-style-type: lower-roman;
}