body {
    color: white;
    background-color: rgb(128, 195, 253);
    font-family: Arial, Helvetica, sans-serif;
    margin: auto;
    width: 50%;
}

div {
    padding: 10px;
    padding-left: 40px;
    /* padding-top: -10px; */
    outline: white 2px solid;
}

#questions {
    font-size: 135%;
}